/* Custom Stylesheet */

  body {
    font-family: 'Lato', 'Roboto';
    background-color: #ecf0f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav ul a {
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px; 
    }


.full-container {
  margin: 0 auto;
  max-width: 1700px;
  width: 90%; }
}

#user_login{
  margin-left: 20px;
}

.mindesign {
  position: relative;
}

#intro_site {
  background-color: #2980b9;
  height: 350px;
}

#intro_site p {
  color: #fff;
}

#blog_intro_header {
  background-color: #389adc;
  height: 60px;
}
#blog_intro_header h1{
  margin: 0px;
  padding: 18px 0px 0px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}


#blog_intro {
  background-color: #ecf0f1;
  height: auto;
}

#flat_design{
  background-color: #ecf0f1;
  height: auto;
}

#flat_intro_header {
  background-color: #389adc;
  height: 60px;
}

#flat_intro_header h1{
  margin: 0px;
  padding: 20px 0px 0px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
}

.best_title {
  width: 300px;
  height: 75px;
  margin-top: 225px;
  float: left;
  background-color: rgba(0, 0, 0, 0.7)
}

.best_title h1{
  margin: 0px;
  padding: 10px 0px 0px 20px;
  font-size: 24px;
  color: #fff;
}
.best_title h2{
  margin: 0px;
  padding: 5px 0px 0px 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}


.best_flat {
  width: 300px;
  background-color: #fff;
}

@media (max-width: 1320px){
.best_flat {
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.best_title {
  width: 200px;
  height: 50px;
  margin-top: 150px;
  float: left;
  background-color: rgba(0, 0, 0, 0.7)
}

.best_title h1{
  margin: 0px;
  padding: 5px 0px 0px 10px;
  font-size: 16px;
  color: #fff;
}
.best_title h2{
  margin: 0px;
  padding: 5px 0px 0px 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

}

#flat_1 {
  background-image: url("../images/flat_1.jpg");
}

#flat_2 {
  background-image: url("../images/flat_2.jpg");
}

#flat_3 {
  background-image: url("../images/flat_3.jpg");
}

#metro_design{
  background-color: #ecf0f1;
  height: auto;
}

#metro_intro_header {
  background-color: #2d89ef;
  height: 60px;
}

#metro_intro_header h1{
  margin: 0px;
  padding: 20px 0px 0px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
}

#metro_1 {
  background-image: url("../images/metro_1.jpg");
}

#metro_2 {
  background-image: url("../images/metro_2.jpg");
}

#metro_3 {
  background-image: url("../images/metro_3.jpg");
}

#apple_design {
  background-color: #ecf0f1;
  height: auto;
}

#apple_intro_header {
  background-color: #009ddc;
  height: 60px;
}

#apple_intro_header h1{
  margin: 0px;
  padding: 20px 0px 0px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
}

#apple_1 {
  background-image: url("../images/apple_1.jpg");
}

#apple_2 {
  background-image: url("../images/apple_2.jpg");
}

#apple_3 {
  background-image: url("../images/apple_3.jpg");
}

#material_design {
  background-color: #fafafa;
  height: auto;
}

#material_intro_header {
  background-color: #2196f3;
  height: 60px;
}

#material_intro_header h1{
  margin: 0px;
  padding: 20px 0px 0px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
}

#material_1 {
  background-image: url("../images/material_1.jpg");
}

#material_2 {
  background-image: url("../images/material_2.jpg");
}

#material_3 {
  background-image: url("../images/material_3.jpg");
}

#blog_page {
  background-color: #ecf0f1;
  /*min-height: 865px;*/
}

#blog_breadcrumbs {
  margin-top: 20px;
  width: 60%;
  max-width: 1280px;
  padding: 10px;
}

#blog_content {
  margin-top: 10px;
  width: 60%;
  max-width: 1280px;
  background-color: #fafafa;
  padding: 15px 30px 15px 30px;
  position: relative;
  border: 1px solid #eaebec;
}

#side_menu {
  margin-top: 10px;
  width: 30%;
  max-width: 400px;
  border: 1px solid #eaebec;
}

.sub-nav {
  height: 50px;
  margin-top: 0px;
}

.sub-nav-line {
  font-size: 15px;
  line-height: 50px;
}

#gallery_page {
  background-color: #ecf0f1;
  min-height: 815px;
}

.gallery_project {
  width: 100%;
  height: 315px;
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid #eaebec;
}

.gallery_image {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #eaebec;
}

.gallery_text {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #eaebec;
}

article h1 {
  font-size: 20px;
  text-align: left;
  padding: 10px 0px 0px 10px;
  margin: 5px;
}

article h2 {
  font-size: 12px;
  text-align: left;
  padding: 2px 0px 0px 10px;
  margin: 5px;
  color: #9e9e9e;
}

.gallery_tags {
  width: 100%;
  height: 55px;
}

article h3 {
  font-size: 12px;
  text-align: left;
  padding: 10px 0px 0px 10px;
  margin: 5px;
  color: #212121;
}

article a{
  font-size: 12px;
  text-align: left;
  color: #2980b9;
  text-decoration: none;
}

#intro_site h1 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 80px auto 0px auto;
  font-family: 'Lato', 'Roboto';
}

#intro_site p {
  font-family: 'Lato', 'Roboto';
  width: 600px;
  padding-top: 30px;
  font-size: 18px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

/* Icons */
.icon-design-minimalista {
  width: 100px;
  height: 100px;
}

#header_icon {
  width: 30px;
  height: 30px;
  float: left;
  margin: 15px 0px 0px 10px;
}

.blog_intro_text {
  margin-top: 20px;
  width: 32%;
  text-align: center;
  color: #2c3e50;
}

.blog_intro_text a{
  color: #2c3e50;
}

.blog_intro_text h1{
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  font-weight: bold;
}

.fixo{

  
   position:fixed !important;
   left:0px !important;
   bottom:0px !important;
   height:50px !important;
   width:100% !important;
   z-index: 9999;
}

.visite-container{
  cursor: pointer;
}
.visite-container .visite{
  visibility: hidden;
  opacity: 0;
  /*transition: visibility 0.5s, opacity 1s linear;*/
  -webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
     -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */

-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}
.visite-container:hover .visite{
    display: inline-block !important;
    visibility: visible;
    opacity: 1;
}
.sub{
  padding-top: 4em !important;
}

#newsLink{
  cursor: pointer;
}

.public{
  margin-top: 0.4em !important;
}

.rank{
  background-repeat: no-repeat !important;

  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
}

.grid {
    margin: 0 auto;
    /*max-width: 1140px;*/
    position: relative;
    width: 95%;
}
.grid::after, .grid::before {
    content: "";
    display: table;
}
.grid::after {
    clear: both;
}
.grid .grid {
    padding-left: 0;
    padding-right: 0;
}

circle-grid .item {
    box-sizing: border-box;
    display: inline-block;
    max-width: 1140px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.circle-grid .item .node {
    padding: 0 32px 32px;
}
@media screen and (min-width: 568px) {
.circle-grid .item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
}
@media screen and (min-width: 960px) {
.circle-grid .item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    cursor: pointer;
}
}
.circle-grid .item .circular-image {
    display: block;
    margin-bottom: 32px;
}
.circle-grid .item .heading {
    text-transform: none;
}
.circle-grid .item .heading-small {
    color: #008ccc;
    margin-bottom: 8px;
}
.circle-grid .item .heading-extra-small {
    margin-bottom: 16px;
}
/*.circle-grid .item .circular-image .trigger {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 10px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    height: 14%;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transform-origin: left bottom 0;
    transition: all 250ms ease 0s;
    width: 14%;
}*/
.circle-grid .item .circular-image .trigger .trigger-inner {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.circle-grid .item .circular-image .trigger .icon-eye {
    color: #ccc;
    font-size: 13px;
    line-height: 1;
    text-shadow: none;
}
@media only screen and (min-width: 800px) {
.circle-grid .item .circular-image:hover .trigger {
    background: #1caaeb none repeat scroll 0 0;
}
.circle-grid .item .circular-image:hover .trigger .icon-eye {
    color: #fff;
}
}
.team img {
    filter: grayscale(100%);
}

.circular-image {
    background: #fff none repeat scroll 0 0;
    border-radius: 50% 50% 50% 4px;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    position: relative;
    width: 100%;
}

.circular-image img {
    border-radius: 50%;
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

.equipe{
  width: 100%;
  padding-bottom: 5%;
}

.equipe .header{
  margin-left: 25%;
}

.item:hover img{
  filter: grayscale(0);
}